*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App{
  height: 100vh;
  width: 100%;
  display: flex;
  
}

.cardone{
  margin: auto;
  height: 300px;
  width: 300px;
  background-color:black;
}

.cardtwo{
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: blueviolet;
}